# Virtual environments
venv/
.venv/
env/

# Secrets & Environment variables
.env
*.env

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Qdrant SQLite lock files & temporary cache
*.lock
.lock